body {
  font-family: 'Arial', sans-serif;
  background-color: #fff5e1;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #bcb9b5;
  padding: 10px;
}

nav a {
  margin: 0 100px;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #8e44ad;
  border-radius: 50px;
}

h1 {
  color: #9c6c1f;
  margin-top: 100px;
}

.logo {
  width: 400px;
  margin-top: 20px;
}
